body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#caixa{
    background-color: #ffffff;
    width: 350px;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
}
#input-tarefa{
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
#botao-adicionar{
    padding: 10px;
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #059905;
    color: #FFFFFF;
}
#titulo{
    text-align: center;
    
}
.botao-remover{
    border: none;
    background-color: none;
    cursor: pointer;
}
li{
    list-style: none; /*remove o estilo da lista(bolinha)*/
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;/*coloca espaço entre os elementos*/
    text-align: center;
}
#lista-tarefas{
    padding: 0;
}