body{
    background-color: rgb(56, 55, 55);
    color: white;
}
#caixa{
    text-align: center;
    margin: 300px auto;
    padding: 20px;
    border: 3px solid red;
    border-radius: 5%;
    width: 300px;
}